@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div id="cookieConsent" class="alert alert-info fade show" role="alert" style="position:absolute; margin-top:100px;">
    <div class="row">
        <p>Do you consent for the use of cookies on this page?</p>
    </div>
    <div class="row">
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString" style="position:relative!important;">
            <p aria-hidden="true">Yeet Cookies Please</p>
        </button>
    </div>
    <div class="row">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>
    </div>

</div>

<script>
    (function () {
        var button = document.querySelector("#cookieConsent button[data-cookie-string]");
        button.addEventListener("click", function (event) {
            document.cookie = button.dataset.cookieString;
        }, false); 
    })();
</script>
}
